@-webkit-keyframes swipeLeftOut {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes swipeLeftOut {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes swipeLeftIn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes swipeLeftIn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.swipeLeftOut {
  -webkit-animation: swipeLeftOut 0.3s linear;
  animation: swipeLeftOut 0.3s linear;
}

.swipeLeftIn {
  -webkit-animation: swipeLeftIn 0.3s linear;
  animation: swipeLeftIn 0.3s linear;
}

@-webkit-keyframes swipeRightOut {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes swipeRightOut {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes swipeRightIn {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes swipeRightIn {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.swipeRightOut {
  -webkit-animation: swipeRightOut 0.3s linear;
  animation: swipeRightOut 0.3s linear;
}

.swipeRightIn {
  -webkit-animation: swipeRightIn 0.3s linear;
  animation: swipeRightIn 0.3s linear;
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation: fadeOut 0.3s linear;
  animation: fadeOut 0.3s linear;
}

.fadeIn {
  -webkit-animation: fadeIn 0.3s linear;
  animation: fadeIn 0.3s linear;
}

@-webkit-keyframes swipeUpOut {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes swipeUpOut {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes swipeUpIn {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes swipeUpIn {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
.swipeUpOut {
  -webkit-animation: swipeUpOut 0.3s linear;
  animation: swipeUpOut 0.3s linear;
}

.swipeUpIn {
  -webkit-animation: swipeUpIn 0.3s linear;
  animation: swipeUpIn 0.3s linear;
}

@-webkit-keyframes swipeDownOut {
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes swipeDownOut {
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@-webkit-keyframes swipeDownIn {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes swipeDownIn {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
.swipeDownOut {
  -webkit-animation: swipeDownOut 0.3s linear;
  animation: swipeDownOut 0.3s linear;
}

.swipeDownIn {
  -webkit-animation: swipeDownIn 0.3s linear;
  animation: swipeDownIn 0.3s linear;
}

@font-face {
  font-family: Aclonica;
  src: url("../fonts/Aclonica.ttf");
}
@font-face {
  font-family: Special Elite;
  src: url("../fonts/SpecialElite.ttf");
}
.testing1 {
  border: 1px solid pink;
  background-color: blue;
}

.testing2 {
  border: 1px solid lightblue;
  background-color: red;
}

.testing3 {
  border: 1px solid lightgreen;
  background-color: yellow;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.position-absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  background-color: black;
  overflow: hidden;
  font-family: 'Special Elite', cursive;
  font-size: 1.3em;
  color: white;
}

main {
  background-image: url("../images/background.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background--webkit-size: cover;
  background--moz-size: cover;
  background--o-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
}
@media (min-width: 420px) {
  main {
    background--webkit-attachment: initial;
    background--moz-attachment: initial;
    background--o-attachment: initial;
    background-attachment: initial;
  }
}
@media (min-width: 420px) {
  main {
    border: 2px solid #525252;
    border-radius: 2%;
    width: 420px;
  }
}
@media (min-height: 750px) {
  main {
    border: 2px solid #525252;
    border-radius: 2%;
    height: 750px;
  }
}

#menu-screen {
  overflow: visible;
  position: absolute;
  height: 55%;
  text-align: center;
}
#menu-screen img {
  margin-bottom: 50px;
}
#menu-screen div p {
  margin: 30px 0;
  font-size: 6.8vw;
}
#menu-screen div p a {
  text-decoration: none;
  color: white;
}
#menu-screen div p a:hover {
  cursor: pointer;
}
@media (min-width: 420px) and (min-height: 750px) {
  #menu-screen div p {
    font-size: 25px;
  }
}
@media (min-width: 420px) {
  #menu-screen div p {
    font-size: 25px;
  }
}
#menu-screen div .header {
  font-size: 7.5vw;
}
@media (min-width: 420px) and (min-height: 750px) {
  #menu-screen div .header {
    font-size: 30px;
  }
}
@media (min-width: 420px) {
  #menu-screen div .header {
    font-size: 30px;
  }
}

#game-screen {
  width: 100%;
  height: 100%;
  background: #00000050;
}

#toolbar {
  height: 50px;
  padding: 15px 10px;
}
#toolbar img {
  height: 25px;
  width: 25px;
}
#toolbar img:hover {
  cursor: pointer;
}
#toolbar #rules-btn {
  float: left;
}
#toolbar #difficulty-level-display {
  float: left;
  margin: 5px 0 0 20px;
  font-size: .6em;
}
#toolbar #quit-btn {
  float: right;
}
#toolbar #restart-btn {
  float: right;
  margin-right: 25px;
}
#toolbar #game-sound-btn {
  float: right;
  margin-right: 25px;
}

#code-maker-palette {
  position: relative;
  margin: 5px 0;
  background: #cccccc20;
  height: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#code-maker-palette #code-maker-palette-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-top: 1px solid #525252;
  border-bottom: 1px solid #525252;
  background-image: url("../images/heartbeat.gif");
  background-repeat: no-repeat;
  background-position: initial initial;
  background--webkit-size: 100% 100%;
  background--moz-size: 100% 100%;
  background--o-size: 100% 100%;
  background-size: 100% 100%;
}
@media (min-width: 420px) {
  #code-maker-palette #code-maker-palette-overlay {
    background--webkit-attachment: initial;
    background--moz-attachment: initial;
    background--o-attachment: initial;
    background-attachment: initial;
  }
}
#code-maker-palette .code-maker-color-peg {
  height: 13vw;
  width: 13vw;
  margin: 1.5vw 5px;
  border-radius: 50%;
}
@media (min-width: 420px) and (min-height: 750px) {
  #code-maker-palette {
    height: 60px;
  }
  #code-maker-palette .code-maker-color-peg {
    height: 50px;
    width: 50px;
    margin: 5px;
  }
}
@media (min-width: 420px) {
  #code-maker-palette {
    height: 60px;
  }
  #code-maker-palette .code-maker-color-peg {
    height: 50px;
    width: 50px;
    margin: 5px;
  }
}

.bottom-fixed {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.bottom-fixed #guesses {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.bottom-fixed #guesses::-webkit-scrollbar {
  display: none;
}
.bottom-fixed #guesses .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vw;
  margin: 20px 3px;
}
.bottom-fixed #guesses .row .attempt-number {
  height: 100%;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottom-fixed #guesses .row .attempt-number div {
  font-family: 'Aclonica', cursive;
  font-size: .8rem;
}
.bottom-fixed #guesses .row .guess-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 72%;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.bottom-fixed #guesses .row .guess-palette .code-peg-holder-4pegs {
  background: #525252;
  border-radius: 50%;
  margin: 0 5px;
  height: 12vw;
  width: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottom-fixed #guesses .row .guess-palette .code-peg-holder-4pegs div {
  border-radius: 50%;
  height: 90%;
  width: 90%;
}
@media (min-width: 420px) and (min-height: 750px) {
  .bottom-fixed #guesses .row .guess-palette .code-peg-holder-4pegs {
    height: 55px;
    width: 55px;
  }
}
@media (min-width: 420px) {
  .bottom-fixed #guesses .row .guess-palette .code-peg-holder-4pegs {
    height: 55px;
    width: 55px;
  }
}
.bottom-fixed #guesses .row .guess-palette .code-peg-holder-6pegs {
  background: #525252;
  border-radius: 50%;
  margin: 0 5px;
  height: 8vw;
  width: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 420px) and (min-height: 750px) {
  .bottom-fixed #guesses .row .guess-palette .code-peg-holder-6pegs {
    height: 35px;
    width: 35px;
  }
}
@media (min-width: 420px) {
  .bottom-fixed #guesses .row .guess-palette .code-peg-holder-6pegs {
    height: 35px;
    width: 35px;
  }
}
.bottom-fixed #guesses .row .guess-palette .code-peg-holder-6pegs div {
  border-radius: 50%;
  height: 95%;
  width: 95%;
}
.bottom-fixed #guesses .row .feedback-holder {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottom-fixed #guesses .row .feedback-holder div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottom-fixed #guesses .row .feedback-holder div div .key-peg-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.5vw;
  height: 4.5vw;
  margin: 1vw;
  border-radius: 50%;
  background: #525252;
}
.bottom-fixed #guesses .row .feedback-holder div div .key-peg-holder div {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
@media (min-width: 420px) and (min-height: 750px) {
  .bottom-fixed #guesses .row .feedback-holder div div .key-peg-holder {
    height: 20px;
    width: 20px;
    margin: 3px;
  }
}
@media (min-width: 420px) {
  .bottom-fixed #guesses .row .feedback-holder div div .key-peg-holder {
    height: 20px;
    width: 20px;
    margin: 3px;
  }
}
@media (min-width: 420px) and (min-height: 750px) {
  .bottom-fixed #guesses .row {
    height: 60px;
  }
}
@media (min-width: 420px) {
  .bottom-fixed #guesses .row {
    height: 60px;
  }
}
.bottom-fixed #color-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  background-image: url("../images/palette.jpg");
  background-repeat: no-repeat;
  background-position: initial initial;
  background--webkit-size: 100% 100%;
  background--moz-size: 100% 100%;
  background--o-size: 100% 100%;
  background-size: 100% 100%;
}
@media (min-width: 420px) {
  .bottom-fixed #color-palette {
    background--webkit-attachment: initial;
    background--moz-attachment: initial;
    background--o-attachment: initial;
    background-attachment: initial;
  }
}
.bottom-fixed #color-palette .code-peg-holder {
  height: 13vw;
  width: 13vw;
  margin: 5px;
  background: #525252;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottom-fixed #color-palette .code-peg-holder .code-peg {
  margin: auto;
  height: 90%;
  width: 90%;
  border-radius: 50%;
}
.bottom-fixed #color-palette .code-peg-holder .code-peg:hover {
  cursor: pointer;
}
.bottom-fixed #color-palette .code-peg-holder #color-red {
  background: red;
}
.bottom-fixed #color-palette .code-peg-holder #color-blue {
  background: blue;
}
.bottom-fixed #color-palette .code-peg-holder #color-green {
  background: green;
}
.bottom-fixed #color-palette .code-peg-holder #color-yellow {
  background: yellow;
}
.bottom-fixed #color-palette .code-peg-holder #color-white {
  background: white;
}
.bottom-fixed #color-palette .code-peg-holder #color-black {
  background: black;
}
@media (min-width: 420px) and (min-height: 750px) {
  .bottom-fixed #color-palette .code-peg-holder {
    height: 52px;
    width: 52x;
  }
}
@media (min-width: 420px) {
  .bottom-fixed #color-palette .code-peg-holder {
    height: 52px;
    width: 52px;
  }
}
.bottom-fixed #buttons-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bottom-fixed #buttons-holder button {
  font-family: 'Special Elite', cursive;
  display: block;
  font-size: 1em;
  color: white;
  width: 50%;
  padding: 12px 0 5px 0;
  margin: 0 5px 5px 5px;
  border-color: white;
  border-radius: 3px;
  background: #00000000;
  outline: none;
}
.bottom-fixed #buttons-holder button:hover {
  cursor: pointer;
}
.bottom-fixed #buttons-holder button:active {
  background: #ffffff05;
}

#dialog-box {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#dialog-box #dialog-container {
  width: 70%;
  background-color: black;
  border: 2px solid white;
  border-radius: 3px;
  padding: 10px;
}
#dialog-box #dialog-container #dialog-header {
  width: 100%;
  margin-bottom: 15px;
  display: none;
  position: relative;
}
#dialog-box #dialog-container #dialog-header h3 {
  text-align: center;
  width: 100%;
}
#dialog-box #dialog-container #dialog-header img {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 20px;
  width: 20px;
}
#dialog-box #dialog-container #dialog-header img:hover {
  cursor: pointer;
}
#dialog-box #dialog-container #dialog-body {
  padding: 35px 10px 30px;
  text-align: center !important;
  font-size: .7em;
}
#dialog-box #dialog-container #dialog-buttons {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#dialog-box #dialog-container #dialog-buttons button {
  display: none;
  font-family: 'Special Elite', cursive;
  display: block;
  font-size: 4vw;
  color: white;
  width: 33%;
  padding: 12px 0 5px 0;
  margin: 5px;
  border-color: white;
  border-radius: 3px;
  background: #00000000;
  outline: none;
}
#dialog-box #dialog-container #dialog-buttons button:hover {
  cursor: pointer;
}
#dialog-box #dialog-container #dialog-buttons button:active {
  background: #ffffff05;
}
@media (min-width: 420px) and (min-height: 750px) {
  #dialog-box #dialog-container #dialog-buttons button {
    font-size: .65em;
  }
}
@media (min-width: 420px) {
  #dialog-box #dialog-container #dialog-buttons button {
    font-size: .65em;
  }
}

#how-to-play {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 500;
}
#how-to-play #htp-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  position: relative;
}
#how-to-play #htp-header img {
  position: absolute;
  margin-top: -5px;
  right: 5vw;
  width: 25px;
}
#how-to-play #htp-header img:hover {
  cursor: pointer;
}
@media (min-width: 420px) and (min-height: 750px) {
  #how-to-play #htp-header img {
    right: 30px;
  }
}
@media (min-width: 420px) {
  #how-to-play #htp-header img {
    right: 30px;
  }
}
#how-to-play #htp-header h3 {
  text-align: center;
}
#how-to-play #htp-body {
  height: 90%;
  padding: 15px;
  font-family: 'Aclonica', cursive;
  font-size: .6em;
  line-height: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#how-to-play #htp-body::-webkit-scrollbar {
  display: none;
}
#how-to-play #htp-body p {
  margin: 20px 0;
}
#how-to-play #htp-body img {
  width: 100%;
}
#how-to-play #htp-body table tr td {
  position: relative;
  vertical-align: top;
  padding: 10px 0 10px 10px;
}
#how-to-play #htp-body table tr td img {
  width: 40px;
}

#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
}
#loading-screen div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#loading-screen div img {
  width: 15%;
}

#not-supported-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  font-size: .7em;
  padding: 20px;
  z-index: 600;
}
@media (max-width: 319px) {
  #not-supported-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-height: 549px) {
  #not-supported-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */